        /* General Flexbox Layout for Food, Drinks, Ice-Cream */
        .food,
        .drink {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
            padding: 20px;
            margin-top: 20px;
        }
     

        /* Adjust image styling (optional) */
        img {
            width: 180px;
            height: 180px;
            object-fit: cover;
            border-radius: 10%;
            filter: grayscale(40%);
            transition: transform 0.7s ease, filter 0.7s ease;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
        }

        img:hover {
            transform: scale(0.95);
            filter: grayscale(0%);
        }

      

        .item:hover .tooltip {
            visibility: visible;
            opacity: 1;
            transition-delay: 0s;
        }

        /* Form and Button Styling */
        form {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        /* Modern look for the select element */
        select {
            padding: 10px;
            width: 50%; /* Adjust width as needed */
            border-radius: 5px;
            border: 1px solid #ccc;
            background-color: #f0f0f0; /* Light background color */
            color: #333; /* Text color */
            font-size: 16px;
            transition: background-color 0.3s, border-color 0.3s;
        }

        select:focus {
            border-color: #5c5c5c; /* Darker border color on focus */
            background-color: #e8e8e8; /* Slightly darker background */
        }

        form select {
            margin-bottom: 15px; /* Adjust the space between select and button */
        }

      

        button:hover {
            background: linear-gradient(-135deg, rgb(46, 42, 28), rgb(82, 74, 61));
            transform: scale(1.05);
        }

        /* Page Styling */
        body {
            font-family: 'Arial', sans-serif;
            background-image: url('photos/drinks_images/GoldBorderWallpaper.jpg');
            background-size: cover;
            background-position: center;
            color: #fff;
            text-align: center;
        }

        h1 {
            font-size: 2.5em;
            margin-top: 20px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }

        h2 {
            font-size: 1.8em;
            margin-top: 40px;
            color: #ccc;
        }

        label {
            margin-top: 10px;
            font-size: 16px;
        }

        select {
            margin-top: 5px;
        }

        #result {
            margin-top: 20px;
            font-size: 18px;
            color: #f4f4f4;
        }
